@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		light --default,
		dim --prefersdark,
		dracula;
	logs: false;
}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}

* {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
